body {
    overflow-x: hidden;
}

#subtitle {
  font-family: Sweet Love Demo, Arial;
  text-align: center;
  font-size: 50px
}

#intro{
  text-align: center;
}

#canvas {
    position: relative;
    border : solid black 2px;
    width:inherit;
    height:700px;
    background-color: whitesmoke;
}
#tooltip {
    position: absolute;
    display: none;
    background-color: whitesmoke;
    font-size: 0.8em;
}

.mainSvg {
    width:100%;
}

.data-entry:hover {
    cursor: pointer;
    fill:black;
}

#modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.modal-container {
    position: relative;
    height: 90%;
    width:50%;
    border-radius: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    object-fit: none;
    padding: 2%;
}

.modal-content {
    display: flex;
    flex-direction: row;
    width: auto;
    border-radius: 5px;
}

.modal-content-2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width:100%;
    padding : 10px;
}

.modal-title {
    width:100%;
    font-size: 1.3rem;
    height:1.5em;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}


#modal-close {
    position: absolute;
    top : 15px;
    right : 15px;
    border-radius: 50% 20% 50% 20%;
    width:30px;
    height:30px;
    padding : 5px;
    font-size: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100%;
}
#modal-close:hover {
    cursor: pointer;
    background-color: rgb(200, 0, 0);
}

#modal-matchs {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    min-height: 150px;
}

#modal-match {
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: flex-start;
    margin : 10px;
    background-color: rgba(0, 255, 0, 0.05)
}
#modal-nomatch {
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: flex-start;
    margin : 10px;
    background-color: rgba(255, 0, 0, 0.05);
}
#modal-match::-webkit-scrollbar, #modal-nomatch::-webkit-scrollbar {
    height: 10px;
    width : 5px;
    background-color: transparent;
}
#modal-match::-webkit-scrollbar-thumb {
    background: green;
}
#modal-nomatch::-webkit-scrollbar-thumb {
    background: red;
}

.modal-match-item {
    width:50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin:5px 0;
}
.modal-match-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.modal-match-item-img {
    width:30%;
    height:auto;
    flex-grow: 0;
}

.modal-match-item-span {
    flex-grow: 1;
    text-align: start;
    padding: 0 1em;
    font-size: 0.8em;
    line-height: 1em;
}

#modal-infos {
    height:30%;
    padding: 5% 25%;
    flex-direction: column;
    min-height: fit-content;
}

#modal-infos-details {
    width : 100%;
    height: fit-content;
    padding : 10px;
    border: solid black 2px;
}

#modal-infos-img {
    width: 30%;
    height : auto;
    flex-grow: 0;
}

#modal-infos-details-text {
    flex-grow: 1;
    flex-wrap: wrap;
}

.modal-infos-details-span {
    flex-grow : 1;
    width : 50%;
    text-align: start;
    padding: 0 1em;
    font-size: 0.8em;
    line-height: 1em;
}

#modal-graphic {
    height : 40%;
    min-height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-graphic-title {
    text-transform: uppercase;
    padding: 20px 0 10px 0;
    width:80%;
    text-align: center;
    border-top: solid lightgray 1px;
}

#modal-graphic-svg {
    width: 100%;
    height: 100%;
}

#modal-graphic-legend {
    position: absolute;
    bottom : 10px;
    right : 10px;
    border: solid black 2px;
    padding: 5px;
    height : fit-content;
    width : fit-content;
    display: flex;
    flex-direction: column;
    font-size: 0.8vw;
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-graphic-legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal-graphic-legend-item:hover {
    cursor: pointer;
}

.modal-graphic-legend-line {
    border-bottom: solid 3px;
    height: 0;
    width: 20px;
    flex-grow: 0;
    margin: 0 5px;
}

.modal-graphic-legend-text {
    flex-grow: 1;
}

.modal-y-axis {
    stroke-opacity: 0.2;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

path.plot {
  stroke: #FFA319;
}

#left {
    font-size: 1em;
    line-height: 70%;
    margin-left: 0px;
  }
  #center {
    font-size: 1em;
    line-height: 70%;
    margin-left: 20px;
    margin-right: 20px;
    size: 50%;
  }

  #main-inputs {
      margin : 20px;
      display: flex;

  }

  .main-button {
      margin : 20px;
      font-size : 1.3em;
      padding : 2px 5px;
  }